<div class="row text-center">
  <div class="col-12 mb-5 text-center">
    <h2>Kılavuz Kategori seçiniz:</h2>
  </div>

  <div class="col">
    <button class="btn btn-danger"><a class="nav-link" routerLink="/web">Web</a></button>
  </div>
  <div class="col">
    <button class="btn btn-danger"><a class="nav-link" routerLink="/sosyal-medya">Sosyal Medya</a></button>
  </div>
  <div class="col">
    <button class="btn btn-danger"><a class="nav-link" routerLink="/icerik-editorlugu">İçerik Editörlüğü</a></button>
  </div>
  <div class="col">
    <button class="btn btn-danger"><a class="nav-link" routerLink="/dijital-pazarlama"> Dijital Reklam</a></button>
  </div>
</div>
<h2 class="text-center pt-5">Sosyal Medya Kılavuzları:</h2>
<div class="bg-dark text-center">
  <ul class="list-group border border-success">
    <li *ngFor="let socialMediaPost of socialMediaPosts" class="list-group-item bg-dark text-gray  border border-success">
      <a href="{{socialMediaPost.guid}}">{{ socialMediaPost.post_title }} </a>
    </li>
  </ul>
</div>