<p>login works!</p>

<div class="form-loginpanel w-100 m-auto text-primary text-center">
  <form class="d-block" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        autofocus
        ngModel
      />
      <label for="username" class="sr-only">Username</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        ngModel
      />
      <label for="password" class="sr-only">Password</label>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary mb-2">
      Giriş
    </button>
  </form>
</div>
